body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(59, 178, 218);
}

section{
    width: 1000px;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.547);
    display: flex;
}

aside{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.asideleft{
    background-color: rgb(255, 204, 0);
}

.asideright{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

div{
    width: 500px;
    height: 500px;
}
.image, img{
    width: 85%;
    height: 55%;
    border: solid;
    
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: auto;
    
}

span{
    
    display: flex;
    align-self: flex-end;
    
}

.p1{
    width: auto;
    height: 1px;
    font-size: 45px;
    font-weight: bold;
    font-weight: 400px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.p2{
    font-size: 25px;
    font-weight:30;
}

.p3{
    text-align: center;
    color: grey;
}

.pris{
    font-size: 25px;
    padding: 10px;
}
